.card_data {
    margin: 30px 30px;

.card_rightside {
    width: 130px;
    height: 37px;
    background-color: #C4C4CC;
    border-radius: 5px;
}
.card_leftside {
    width: 77px;
    height: 85px;
    border-radius: 50%;
    background-color: #E1E1E6;
}
.card_leftside_2 {
    width: 77px;
    height: 85px;
    border-radius: 50%;
    background-color: #F0F0F2;
    margin-left: -15px;
}
}
@media screen and (max-width: 600px) {
    .card_data {
        margin: 30px 10px;
    }
}