
.label_decline {
    color: '#6B6B80';
    font-size: 16px;
    font-family: 'Exo 2';
    font-weight: 400;
}

.label_hovered {
    font-weight: bold;
  }  

.hoverableTextField:hover {
    background-color: rgb(241, 241, 241)
  }
  