.addusers_container {
  .adduser_header {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    color: rgba(43, 43, 51, 1);
    margin: 0 auto;
  }

}

.adduser_form {
  margin: 0 auto;

  .useradd_btn {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 6.5rem;
  }

  .useradd_btn>Button:nth-child(1) {
    color: rgba(43, 43, 51, 1);
    border-color: rgba(43, 43, 51, 1);
    border-radius: 8px;
    font-family: "Exo 2";
  }

  .useradd_btn>Button:nth-child(2) {
    background: rgba(43, 43, 51, 1);
    border-radius: 8px;
    font-family: "Exo 2";
  }

  .input_label {
    display: flex;
    color: #6B6B80;
    margin-bottom: 1rem;
  }

  .adduser-textfield_bold {
    height: 120px;
  }

  .adduser-textfield_bold:hover {
    font-weight: 600;
  }

  .adduser-textfield_bold:focus-within {
    font-weight: 600;
  }

  .hide_label .asterisk {
    display: none;
  }

  .MuiFormControl-root {
    width: 100%;
  }

  .checkbox-hidden {
    display: none;
  }

  .checkbox-label {
    margin-left: 10px;
  }

  .MuiFormHelperText-root {
    font-family: 'Exo 2', "Roboto", "sans-serif";
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}