.addnote_container {
  height: 78%;
  border-radius: 8px;
  margin: 0 auto;
  border: 2px solid rgba(240, 240, 242, 1);

  .addnote_main {
    margin: 1rem 1rem;
  }

  .addnote_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .addnote_header button {
    border: none;
    background: transparent;
  }

  .addnote_header img {
    height: 21.5px;
    width: 21.5px;
  }

}
