.signin_container {
  border-radius: 16px;
  max-width: 600px;
  width: 100%;
  text-align: center;
  padding: 30px 10px;
  border: 1px solid rgba(204, 204, 204, 0.5);
  filter: drop-shadow(0px 0px 4px rgba(204, 204, 204, 0.1));

  .signin-main_container {
    justify-content: center;
  }

  .input_label {
    display: flex;
    color: #6B6B80;
    margin-bottom: 1rem;
    padding-left: 1.5rem;
  }

  @media (max-width: 600px) {
    .input_label {
      padding-left: 0;
    }
  }

  .error_label {
    color: red;
  }

  .signinform_textfield {
    width: 100%;
    max-width: 540px;
  }

  .textfield_bold:hover {
    font-weight: 600;
  }

  .hide_label .asterisk {
    display: none;
  }

  .signin_btn {
    width: 90%;
    border-radius: 8px;
  }

  .rotate_icon {
    transform: scaleX(-1);
  }


}