.model-body {
  @media screen and (max-width: 794px) {
    margin: 10px;
    background: white;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.16);

  }

  border-radius: 8px;
}

.font-family-Exo {
  font-family: 'Exo 2';
}

.save-button {
  display: flex;
  width: 431px;
  height: 48px;
  padding: 11px 24px;
  justify-content: center !important;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  background: var(--theme-primary-p-20-main, #2b2b33) !important;
  color: white !important;
  // flex: 1 0 0;
  margin: auto !important;
  margin-top: 80px !important;
}

 

.save-button:hover {
  background-color: #000000;
}
