// all color, text-sizes, border-radius etc  should be initialize here as variables and use them in styling
// do not write explicitly values.
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
//colors
$primary-color:#2B2B33;
$secondary-color: #6B6B80;
$tertiary-color: #40404D;
$blue-color:#0084AD;


$black-color: #000000;
$white-color: #ffffff;
$dark-gray-color: #3c3c3c;
$grey-color: #747070;
$orange-color: #ff8908;
$yellow-color: #FFBF00;
$link-color: #6197E8;
$orange-yellowish-color: #ffa412;
$mid-green-color: #00d27a;
$apple-green-color:#659c35;
$dark-white-smoke-color: #f5f8fe;
$mix-grey-color: linear-gradient(180deg, #464c52 0%, #464c5299 100%);
$orange-color-300: #FFA300;

$solitude-color:#E9EFFD;
$error-color: #FF0000;
$alert-text-color:#81222C;
$success-color: #165c27;
$alertgreen-color: #d0e7d6;
$alertred-color:#F7D5D8;
$selected-tap-color: #1c1b1b;
$rate-star-color: #ffce31;
$icon-color: #c4c4c4;
$selected-field-color: #6c757d;
$hover-color: #fee6dd;
$blue_magenta_color: #EBEBEE;
$green-color:#40d698;
$light-gray-color:#9d99b9;
$mid-gray: #676c70;

//font-size
$primary-heading: 32px;
$secondary-heading: 24px;
$tertiary-heading: 28px;
$heading-48: 48px;
$heading-42: 42px;
$heading-20: 20px;
$heading-22: 22px;
$heading-18: 18px;

$primary-title: 16px;
$secondary-title: 14px;
$tertiary-title: 12px;
$title-15: 15px;
$title-13: 13px;
$title-10: 10px;

//border-radius
$border-radius-4: 4px;
$border-radius-5: 5px;
$border-radius-8: 8px;
$border-radius-10: 10px;
$border-radius-15: 15px;
$border-radius-20: 20px;
$border-radius-rounded:50%;

//font-weight
$font-weight-300: 300;
$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-600: 600;
$font-weight-700: 700;
$font-weight-800: 800;
$font-weight-900: 900;

//font-family
$font-family-Exo: 'Exo 2', "Roboto", "sans-serif";
$font-family-roboto: "Roboto", "sans-serif", "Montserrat";