@import '../../../../styles/variables';
.MuiOutlinedInput-notchedOutline{
    border-top: 0px !important;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;

    border-left: 0px !important;
    border-right: 0px !important;
    box-sizing: border-box !important;
    border-bottom: 1.6px solid #C4C4CC !important;
    flex: none !important;
    order: 0 !important;
    flex-grow: 0 !important;
    z-index: 0 !important;
}