
@import "../../styles/variables";

.client-details-invoice-title{
    color:$blue-color;
}
.invoice-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: max-height 0.3s ease-in-out;
  }
  
  .dropdown-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
  }
  
  .dropdown-content.open {
    max-height: 100px; /* Set the desired height */
  }
  .open {
    animation: icon-rotate 0.3s ease-in-out forwards;
  }

  .toast-container {
    width: 320px;
    top: 20px;
    right: 20px;
  }

  .dropdown-content.opendata {
    max-height: 100px; /* Set the desired height */
  }
  .opendata {
    animation: icon-rotate 0.3s ease-in-out forwards;
  }
  
  @keyframes icon-rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(180deg);
    }
  }
  