.Paid {
    width: 49px;
    height: 32px;
    padding: 7px;
    background: #D3E7D8;
  //   opacity: 0.74;
    border-radius: 8px;
  
    font-family: "Exo 2";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #48995D;
  }
  .Due {
    padding: 7px;
    width: 49px;
    height: 32px;
    background: #fff0c2;
  //   opacity: 0.74;
    border-radius: 8px;
    font-family: "Exo 2";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FFC518;
  }
  
  .Overdue {
    padding: 7px;
    width: 49px;
    height: 32px;
    background: #FFD1D1;
  //   opacity: 0.74;
    border-radius: 8px;
    font-family: "Exo 2";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #ff3f3f;
  }
  
  .invoice-title {
    width: auto;
    height: 28px;
      margin-top: 60px;
      margin-bottom: 58px;
    /* Heading/Sub 2 - H4 - 20 */
  
    font-family: "Exo 2";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    /* identical to box height, or 140% */
  
    display: flex;
    align-items: center;
  
    /* Text/Default */
  
    color: #40404d;
  
    /* Inside auto layout */
  
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  