.invoice-no_container {

    .invoice-no_paid {
        display: flex;
        align-items: center;
        background: #D3E7D8;
        color: #48995D;
        margin: 0 8px;
        padding: 8px;
        border-radius: 8px;
        height: 28px;
    }

    @media (min-width: 1535px) {
        .addnote_btn {
            display: none;
        }  
    }
    @media (max-width: 1535px) {
        .addnote_side {
            display: none;
        }  
    }

}