.filter-model-clients {
  max-height: 300px;
  overflow: scroll;

  h3 {
    font-family: "Exo 2";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    /* identical to box height, or 140% */

    display: flex;
    align-items: center;

    /* Theme/Primary/P 20 Main */

    color: #2b2b33;
    margin-bottom: 40px;
  }
  h5 {
    font-family: "Exo 2";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    display: flex;
    align-items: center;

    /* Text/Light */

    color: #6b6b80;
    margin-bottom: 10px;
  }
  .radio-box {
    display: flex;
    align-items: center;
    cursor: pointer;
    .MuiFormControlLabel-root {
      margin: 00;
      z-index: 200;
      background: white;
      .MuiRadio-root {
        // .MuiSvgIcon-root {
        //   stroke: transparent;
        //   fill: transparent;
        //   background: black;
        //   max-width: 15px;
        //   max-height: 15px;
        //   border-radius: 50%;
        //   margin-top: 4px;
        // }
        &.Mui-checked {
          color: #40404d;
          //   .MuiSvgIcon-root {
          //     stroke: initial;
          //     fill: initial;
          //     background: initial;
          //     max-width: initial;
          //     max-height: initial;
          //     border-radius: initial;
          //     margin-top: 0;
          //   }
        }
      }
    }
    .span {
      transition: 0.2s;
      border-radius: 2px;
      min-height: 44px;
      text-align: left;
      // padding-left: 32px;
      max-width: 199px;
      width: 100%;
      display: flex;
      padding: 0 40px;
      margin-left: -20px;
      align-items: center;
      //   justify-content: center;
      // font-family: "Exo 2";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      /* identical to box height, or 150% */
      display: flex;
      align-items: center;
      /* Text/Default */
      color: #40404d;
      &.active {
        background: #d9d9d9;
      }
    }
    &:hover {
      .not-active {
        box-shadow: -2px 5px 5px 0px rgba(226, 217, 217, 0.75) !important;
      }
    }
  }
}
