.attachment-checkbox {
    .span {
        border-radius: 2px;
        min-height: 44px;
        max-width: 199px;
        width: 100%;

        &.active {
            background: #F0F0F2;
        }
    }

    .checkbox-export-popover {
        transition: transform .2s linear;

        &.checked {
            transform: scale(.8);
            animation: beat .25s 1 alternate;
        }

        @keyframes beat {
            to {
                transform: scale(1);
            }
        }
    }

    &:hover {
        .not-active {
            box-shadow: 0px 0px 6px 1px rgba(226, 217, 217, 0.75) !important;
        }

        .non-checked-icon {
            box-shadow: 0px 0px 6px 1px rgba(226, 217, 217, 0.75) !important;
        }

        .checkbox-export-popover {
            transform: scale(.8);

        }
    }
}