:root {
    --max-width: 1100px;
    --border-radius: 12px;
    --font-mono:  'Plus Jakarta Sans',

    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;

    --primary-glow: conic-gradient(
      from 180deg at 50% 50%,
      #16abff33 0deg,
      #0885ff33 55deg,
      #54d6ff33 120deg,
      #0071ff33 160deg,
      transparent 360deg
    );
    --secondary-glow: radial-gradient(
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0)
    );

    --tile-start-rgb: 239, 245, 249;
    --tile-end-rgb: 228, 232, 233;
    --tile-border: conic-gradient(
      #00000080,
      #00000040,
      #00000030,
      #00000020,
      #00000010,
      #00000010,
      #00000080
    );

    --callout-rgb: 238, 240, 241;
    --callout-border-rgb: 172, 175, 176;
    --card-rgb: 180, 185, 188;
    --card-border-rgb: 131, 134, 135;
  }



  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  html,
  body {
    max-width: 100vw;
    overflow-x: hidden;
  }

  body {
    color: rgb(var(--foreground-rgb));
    background: transparent
  }
  .ant-drawer-header-title{
    flex-direction: row-reverse !important;

  }
  .ant-drawer-content {
    border-radius: 12px 0px 0px 12px !important;
    box-shadow: -2px 0px 4px 4px rgba(55, 58, 60, 0.04) !important;

  }
  @media screen and (min-width: 1000px) {
  .ant-drawer-content-wrapper{
    width: 508px !important;
  }
  }


  a {
    color: inherit;
    text-decoration: none;
  }
