.about-us-parent {
  padding-top: 80px;
  padding-bottom: 50px;
  .about-us-box {
    img {
      max-width: 100%;
      text-align: center;
      margin-bottom: 30px;
    }
    h2 {
      font-weight: 600;
      font-size: 36px;
      line-height: 44px;
      /* identical to box height */

      /* Text Color/Primary */
      margin-bottom: 30px;
      color: #37352f;
    }
    p {
      font-weight: 300;
      font-size: 18px;
      line-height: 28px;
      /* or 156% */
      margin-bottom: 24px;

      text-transform: capitalize;

      /* Text Color/Body Text */

      color: #666665;
    }

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
}
