.manager-tab {
    border: none !important;
    text-transform: capitalize !important;
    min-height: 33px;
    width: 185px;
    padding: 0;
    font-size: 16px;
    font-weight: 400 !important;
    color: #6B6B80;
  }

  .manager-tab-active {
    font-weight: 700 !important;
    color: #40404D !important;
  }
  .css-1aquho2-MuiTabs-indicator{
    background-color: #2B2B33 !important;
  }