.account__receivable {

    .account_receivable_heading {
        font-family: 'Exo 2';
        font-style: normal;
        font-weight: 700;
        line-height: 130%;
        color: #37352F;
    }

    .custom__icon{
        width: 24px;
        height: 24px;
        background: #ffffff;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .custom__style{
        width: 8px;
        height: 8px;
        border-radius: 100px;
    }

    .receivable__right{
        display: flex;
        gap: 1rem;
    }

    .receivable__text {
        font-family: 'Exo 2';
        font-style: normal;
        font-weight: 400;
        color: #666665;
        line-height: 30px;
    }
}

.ar_cards_container {
    
}