.hero-parent {
  padding-top: 80px;
  padding-bottom: 50px;
  .hero-box {
    span {
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 10px;
      color: #9747ff;
    }
    h1 {
      font-weight: 700;
      font-size: 72px;
      line-height: 130%;
      /* or 94px */

      /* Text Color/Primary */

      color: #37352f;
      margin-bottom: 20px;
      @media screen and (max-width: 575px) {
        font-size: 40px;
        line-height: 50px;
      }
      span {
        font-weight: 700;
        font-size: 72px;
        line-height: 130%;
        margin-bottom: 0;
        /* or 94px */

        /* Text Color/Primary */

        color: #0d540be8;
        @media screen and (max-width: 575px) {
          font-size: 40px;
          line-height: 50px;
        }
      }
    }
    p {
      font-weight: 300;
      font-size: 18px;
      line-height: 28px;
      /* or 156% */
      margin-bottom: 24px;

      text-transform: capitalize;

      /* Text Color/Body Text */

      color: #666665;
      max-width: 650px;
    }
    button {
      max-width: 150px;
      width: 100%;
      background: rgba(13, 84, 11, 0.91);
      box-shadow: 0px 0.325926px 0.733333px rgba(0, 0, 0, 0.12),
        0px 1.54074px 2.86667px rgba(0, 0, 0, 0.07),
        0px 4px 9px rgba(0, 0, 0, 0.05);
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 40px;
      text-transform: capitalize;
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;
      color: #ffffff;
      &:hover {
        background: transparent;
        color: black;
        border: 1px solid #0d540b;
      }
    }
    img {
      max-width: 100%;
    }
    @media screen and (max-width: 900px) {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
    }
  }
}
