.Pending {
    padding: 7px;
    width: 49px;
    height: 32px;
    background: #fff0c2;
    //   opacity: 0.74;
    border-radius: 8px;
    font-family: "Exo 2";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #ffc518;
  }
  .Approved {
    width: 49px;
    height: 32px;
    padding: 7px;
    background: #d3e7d8;
    //   opacity: 0.74;
    border-radius: 8px;
  
    font-family: "Exo 2";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #48995d;
  }

  .Rejected {
    padding: 7px;
    width: 49px;
    height: 32px;
    background: #ffd1d1;
    //   opacity: 0.74;
    border-radius: 8px;
    font-family: "Exo 2";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #ff3f3f;
  }

  .Partial {
    padding: 7px;
    width: 49px;
    height: 32px;
    background: #c7d7ff;
    //   opacity: 0.74;
    border-radius: 8px;
    font-family: "Exo 2";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #3F75FF;
  }