.report-styles {
  .report-title {
    position: relative;
    left: 20px;
    margin-top: 52px;
    margin-bottom: 20px;
  }

  .report-card {
    width: 341px;
    height: 206px;
    background: #f0f0f2;
    padding: 30px;
  }
}

@media screen and (max-width: 1200px) {
  .report-styles {
    .report-title {
      left: 0px;
    }
  }
}

@media screen and (max-width: 970px) {
  .report-styles {
    .report-card {
      width: 341px !important;
    }
  }
}

.invoices-tabal-header {
  margin-top: 10px !important;
}

@media (max-width: 600px) {
  .invoices-tabal-header {
    margin-top: 20px !important;
    width: 100%;
  }
}

@media (max-width: 380px) {
  .report-styles {
    .report-card {
      width: 280px !important;
    }
  }
}