  .tags_email {
    margin-left: -1rem;
  }
 .card_data ul{
   display: flex;
   gap: 0.6rem;
 }
 .card_data li {
  list-style: none;
 }

 .editor_content {
  height: 47vh !important;
  // border: 1px solid red;

 }
 .editor_scroll {
  overflow: auto;
  scroll-behavior: smooth;
 }

 .btns {
  display: flex;
  justify-content: flex-end;
  position: relative;
  margin-top: 1rem;
  gap: 1rem;
 }
 .tags_bar ul {
  display: flex;
  gap: 0.6rem;
  font-size: 0.9rem;
  font-weight: 400;
  transform: translate(-1.8rem, -1.5rem);
  cursor: pointer;
 }
 .tags_bar li {
  list-style: none;
 }

 .ql-editor {
  overflow-y: hidden;
  resize: vertical;
  height:40.3vh !important;
}

@media (max-width: 768px) {
  .tags_bar li {
    margin-bottom: 0.6rem;
  }
  .editor_content {
    height: 40vh !important;
   }
  .btns {
    margin-bottom: 10px;
  }

  .ql-editor {
    height: 33vh !important; 
  }
}

@media (max-width: 1024px) {
  .tags_bar li {
    margin-bottom: 0.6rem;
    font-size: 12px;
  }
  .editor_content {
    height: 37vh !important;
   }

  .ql-editor {
    height: 28vh !important; 
  }
}