 .tm_form {

   .tm_btn {
     display: flex;
     justify-content: flex-end;
     font-size: 14px;
     gap: 1rem;
     margin-top: 3rem;
   }

   .tm_btn>Button:nth-child(1) {
     color: rgba(43, 43, 51, 1);
     border-color: rgba(43, 43, 51, 1);
     border-radius: 8px;
     padding: 7px 16px;
     font-family: "Exo 2";
   }

   .tm_btn>Button:nth-child(2) {
     background: rgba(43, 43, 51, 1);
     border-radius: 8px;
     padding: 7px 16px;
     font-family: "Exo 2";
   }

   .tm-input_label {
     color: #6B6B80;
     margin-bottom: 1rem;
   }

   .tm-textfield_bold {
     height: 120px;
   }

   .tm-textfield_bold:hover {
     font-weight: 600;
   }

   .tm-textfield_bold:focus-within {
     font-weight: 600;
   }

   .tm-del_btn {
     border-radius: 8px;
    //  opacity: 0.23999999463558197;
     background: #FFD1D1;
     color: #FF3F3F;
     font-size: 16px;
     font-weight: 600;
     padding: 2px 8px;
   }

   .tm-del_btn:hover {
    background: #FFD1D1;
   }

   .MuiFormControl-root {
     width: 100%;
   }

   input[type=number]::-webkit-inner-spin-button,
   input[type=number]::-webkit-outer-spin-button {
     -webkit-appearance: none;
     margin: 0;
   }
 }